<!doctype html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>
<body>
	<div id="wrapper">
		<header>
			<h2> 01 - basic Express </h2>
		</header>
		<article>
		<p>Este post tiene como objetivo demostrar el uso b&aacute;sico del framework Express,
			 el siguiente texto fue renderizado utilizando locals en el template
		</p>
		<p><%= banner %></p>
		</article>
		<footer>
		<p>Referencias:</p>
		<ul>
						<li><a href="http://expressjs.com" target="_blank">Express</a>
						<li><a href="http://nodejs.org" target="_blank">Node.js</a>
						<li><a href="http://embeddedjs.com/" target="_blank">embedded js template system</a>
		</ul>
		</footer>
	</div>
</body>
