body {
				margin: 0;
				padding-bottom: 30px;
				font: 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial";
				font-size: 14px;
				line-height: 1.5;
				-webkit-font-smoothing: antialiased;
				color: #8B8B8B;
				background: url("/img/bluelinen.jpg");
}
#wrapper{
				margin: auto;
				width: 960px;

}

li{
			  list-style: none;
		 		display: block;	 
				margin : 0.8em;
	}
article{
				margin-left: 1em;
}
a {
				color:#ffffff;
				font-size: 16px;
	}
